.kw {
  .kw-header {
    background: #fff;
    color: $gray;

    .mdl-layout-title {
      position: absolute;
      //left: calc(50% - 145px);
      left: calc(50% - 40px);

      @media screen and (min-width: $layout-screen-size-threshold) {
        position: relative;
        left: 20px;
      }
    }

    .mdl-navigation__link {
      display: none;
      color: $gray;
      font-weight: 700;
      text-transform: uppercase;

      &:hover {
        border-bottom: 4px solid $main;
      }

      @media screen and (min-width: $layout-screen-size-threshold) {
        display: block;
      }
    }

    .mdl-layout__drawer-button {
      color: $dark-gray;

      /*@media screen and (min-width: $layout-screen-size-threshold) {
        display: none;
      }*/
    }
  }

  .logo {
    height: 40px;
  }

  // --- Mobile Navigation ---
  .mdl-layout__drawer {
    .mdl-layout-title {
      font-family: Lobster, cursive;
      color: $blacky;
      font-size: 1.75rem;
    }
  }
}

