@import "variables";

// --- Sections ---
@import "nav";
@import "intro";

.blue {
  color: $main;
}

h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  margin: 2.1rem 0 1.68rem 0;
  font-family: "Open Sans",sans-serif;
}

.kw-layout {
  background: url('../images/intro.jpg') no-repeat top / cover fixed;
  position: relative;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;

  &:hover .tooltiptext {
    visibility: visible;
  }

  .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: $main;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px;

    /* Position the tooltip */
    position: absolute;
    top: 120%;
    left: 0;
    z-index: 1;
  }
}
