<div class="kw-intro mdl-grid">
  <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-cell--1-offset-desktop mdl-cell--10-col-desktop">
    <div class="card-wide mdl-card mdl-shadow--2dp mdl-card--border">

      <main class="mdl-layout__content">
        <div class="mdl-grid">
          <div class="dl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--5-col-desktop">
            <div class="photo-outer">
              <img class="photo mdl-shadow--4dp" src="../images/me.jpg" alt="profile photo" height="350px" width="260px">
            </div>
          </div>

          <div class="dl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--7-col-desktop">
            <div class="text-outer">
              <div class="box-outer">
                <div class="box">Hi!</div>
              </div>

              <div class="slogan">
                <h1>I'm
                  <span>Kamil Wojtczyk</span>
                </h1>
              </div>
              <div class="sub-slogan">
                <h2>Full stack developer</h2>
              </div>
              <div class="about">
                <p>I'm a young and passionate programmer, crazy about new technologies, breathtaking views and good IPA
                  <i class="fa fa-beer"
                    aria-hidden="true"></i>.</p>
                <p>I've recently graduated from university and currently work as a full-stack developer, writing code in
                  <span class="tooltip">modern*
                    <span class="tooltiptext">ideally!</span>
                  </span>
                  &nbsp;languages & frameworks.</p>
                <div class="mdl-grid dev-icons">
                  <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-phone">
                    <i class="devicon-nodejs-plain colored" title="Node.js" aria-hidden="true"></i>
                  </div>
                  <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-phone">
                    <i class="devicon-react-original colored" title="React" aria-hidden="true"></i>
                  </div>
                  <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-phone">
                    <i class="devicon-php-plain colored" title="PHP" aria-hidden="true"></i>
                  </div>
                  <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-phone">
                    <i class="devicon-go-line colored" title="Go" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>

      <div class="card-bottom mdl-card__actions mdl-card--border mdl-shadow--2dp">
        <div class="icons">
          <a class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" href="https://www.instagram.com/kwojtczyk/" title="Instagram">
            <i class="fa fa-fw fa-instagram" aria-hidden="true"></i>
          </a>
          <a class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" href="https://twitter.com/kamwojt" title="Twitter">
            <i class="fa fa-fw fa-twitter" aria-hidden="true"></i>
          </a>
          <a class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" href="https://github.com/K0ff33" title="Github">
            <i class="fa fa-fw fa-github" aria-hidden="true"></i>
          </a>
          <a class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" href="https://www.linkedin.com/in/kwojtczyk" title="LinkedIn">
            <i class="fa fa-fw fa-linkedin" aria-hidden="true"></i>
          </a>
          <a class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" data-name="k.wojtczyk" data-domain="gmail" data-tld="com"
            href="#" class="cryptedmail" onclick="window.location.href = 'mailto:' + this.dataset.name + '@' + this.dataset.domain + '.' + this.dataset.tld"
            title="Email">
            <i class="fa fa-fw fa-envelope" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
