<header id="kw-header" class="mdl-layout__header mdl-layout__header--transparent">
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <span class="mdl-layout-title">
      <a href="/" title="Wojtczyk.net"><img class="logo" src="images/wojtczyk_logo_small.png" alt="Logo" height="40px" width="40px"></a>
    </span>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    <!-- Navigation -->
    <nav class="mdl-navigation hidden">
      <a class="mdl-navigation__link" href="#" title="WIP: Not yet implemented">Link</a>
      <a class="mdl-navigation__link" href="#" title="WIP: Not yet implemented">Link</a>
      <a class="mdl-navigation__link" href="#" title="WIP: Not yet implemented">Link</a>
      <a class="mdl-navigation__link" href="#" title="WIP: Not yet implemented">Link</a>
    </nav>
  </div>
</header>
<div class="mdl-layout__drawer hidden">
  <span class="mdl-layout-title">
    <span class="title">Kamil Wojtczyk</span>
  </span>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="#" title="WIP: Not yet implemented">Link</a>
    <a class="mdl-navigation__link" href="#" title="WIP: Not yet implemented">Link</a>
    <a class="mdl-navigation__link" href="#" title="WIP: Not yet implemented">Link</a>
    <a class="mdl-navigation__link" href="#" title="WIP: Not yet implemented">Link</a>
  </nav>
</div>
